.post {
  font-family: Garamond, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.postHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.postTitle {
  font-size: 30px;
  font-style: italic;
  padding-top: 6px; /* Align with padding for buttons */
  text-align: center;
}

.postDate {
  font-size: 14px;
  //font-style: italic;
  text-align: center;
}

.postImage {
  padding: 20px;
  max-width: 350px;
  width: 60%;
}

.postLink {
  padding-top: 20px;
}

.postBody {
  max-width: 600px;
}

.postFootnotes {
  font-size: 13px;
  max-width: 600px;
}

.post a {
  text-decoration: none;
  font-style: italic;
  color: rgba(0, 0, 0, 0.54);
  font-weight: bold;
}

.post a:hover {
  text-decoration: underline;
}

.post a:focus {
  text-decoration: underline;
}
